<h3>이 사이트에 대해</h3>
<p>
	누구나 자신의 커미션을 등록하실 수 있습니다.
	등록하기 버튼을 누르셔서 닉네임, 그림파일, 그림 설명, 가격 등을 입력하시면 됩니다.
<br>
	게시글 삭제시 등록하면서 입력받은 비밀번호가 필요합니다.
<br>
<br>
<br>
	기타문의사항 / 건의사항은 ming3772@gmail.com 으로 메일 주시면 확인하겠습니다.
<br>
	개발자 블로그 : <a href="http://mingkim.github.io">http://mingkim.github.io</a>
</p>