<div class="intro-header">
	<div class="intro-div">
		<h3>여러분의 커미션을 홍보하세요!</h3>
		<p>
		여러 작가님들의 커미션을 쉽게 찾을 수 있습니다. 
		</p>
	</div>
	<form role="form">  
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="닉네임, 이메일로 검색"/>
          <div class="input-group-btn">
            <button type="submit" class="btn">검색</button>
          </div>
        </div>
      </div>
    </div>
</form>

	<div class="btn-group align-btn" role="group" aria-label="...">
	  <a class="btn btn-default" href="#" role="button">최신순</a>
	  <a class="btn btn-default" href="#" role="button">조회순</a>
	  <a class="btn btn-default" href="#" role="button">마감순</a>
	</div>	
</div>


<div class="image-card">
	<div class="row">
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">						
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="http://img4.wikia.nocookie.net/__cb20110902105508/adventuretimewithfinnandjake/images/7/75/FionnaholdingPrinceGumball.PNG">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="http://img4.wikia.nocookie.net/__cb20110902105508/adventuretimewithfinnandjake/images/7/75/FionnaholdingPrinceGumball.PNG">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="http://40.media.tumblr.com/tumblr_m7ymxqlEUb1rbavngo1_1280.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="http://40.media.tumblr.com/tumblr_m7ymxqlEUb1rbavngo1_1280.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="https://s-media-cache-ak0.pinimg.com/736x/56/7e/97/567e97a38d47e38f53da70880f5fd659.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
		<div class="col-md-4 image-wrapper">
			<div id="slider">
				<figure>
					<a href="">
						<img src="http://24.media.tumblr.com/a3b01e2d005303ec3fb2490eaf8eacfb/tumblr_mvvtmtk5gW1qhjcclo1_500.jpg">
						<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
						<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
						<img src="http://24.media.tumblr.com/a3b01e2d005303ec3fb2490eaf8eacfb/tumblr_mvvtmtk5gW1qhjcclo1_500.jpg">
					</a>
				</figure>
			</div>
			<div class="image-info">
				<span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true">145</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">20</span>
			</div>
		</div>
	</div>
	<br>

	<nav>
		<ul class="pager">
			<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
			<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
</div>

