<div class="intro-header">
	<div class="intro-div">
		<h3>커미션을 쉽게 등록하고 검색할 수 있습니다.</h3>
		<p>
		현재 23개의 커미션이 진행중입니다. 
		</p>
	</div>
	<form role="form">  
		<div class="row">
		  <div class="col-xs-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="닉네임, 이메일로 검색"/>
			  	<div class="input-group-btn">
					<button type="submit" class="btn">검색</button>
			  	</div>
			</div>
		  </div>
		</div>
	</form>
	<div class="btn-group align-btn" role="group" aria-label="...">
	  <a class="btn btn-default" href="#" role="button">최신순</a>
	  <a class="btn btn-default" href="#" role="button">조회순</a>
	  <a class="btn btn-default" href="#" role="button">마감순</a>
	</div>
</div>

<div class="image-card-wrapper">
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>
	<div class="image-card">
		<div class="thumbnail-image">
			<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
			<img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
		</div>
		<div class="image-detail">
			<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
			<a href="">누코</a>
			<div class="card-view-heart-info">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
				<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
			</div>
			<div class="card-tag-info">
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
				<a href="">#태그</a>
			</div>
			<div class="card-detail-page">
				<a href="">more</a>
			</div>
		</div>
	</div>				
	<div class="scroll">
		<a href="/scroll">next page</a>
	</div>	
</div>


