<h2>비밀번호 재설정 페이지</h2>
<p>새로운 비밀번호를 입력해주세요.</p>
<div class="forgot-div">
	<form id="regForm" method="post">
		<div>
			<label>새 비밀번호</label>
			<input type="password" class="form-control" name="password" value="{{password}}">
		</div>
		<div>
			<label>새 비밀번호 확인</label>
			<input type="password" class="form-control" name="password2" value="{{password2}}">
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">설정하기</button>
	</form>
</div>
