<div class="image-card">
	<div class="thumbnail-image">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)">
	</div>
	<div class="image-detail">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
		<a href="">누코</a>
		<div class="card-view-heart-info">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
		</div>
		<div class="card-tag-info">
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
		</div>
		<div class="card-detail-page">
			<a href="">more</a>
		</div>
	</div>
</div>
<div class="image-card">
	<div class="thumbnail-image">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)">
	</div>
	<div class="image-detail">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
		<a href="">누코</a>
		<div class="card-view-heart-info">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
		</div>
		<div class="card-tag-info">
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
		</div>
		<div class="card-detail-page">
			<a href="">more</a>
		</div>
	</div>
</div>
<div class="image-card">
	<div class="thumbnail-image">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)">
	</div>
	<div class="image-detail">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
		<a href="">누코</a>
		<div class="card-view-heart-info">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
		</div>
		<div class="card-tag-info">
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
		</div>
		<div class="card-detail-page">
			<a href="">more</a>
		</div>
	</div>
</div>
<div class="image-card">
	<div class="thumbnail-image">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/austin-fireworks.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/taj-mahal.jpg)">
		<img class="thumbnail-image-each" style="background-image: url(http://demosthenes.info/assets/images/ibiza.jpg)">
	</div>
	<div class="image-detail">
		<img src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" alt="..." class="img-circle">
		<a href="">누코</a>
		<div class="card-view-heart-info">
			<span class="glyphicon glyphicon-eye-open" aria-hidden="true">123</span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true">23</span>
		</div>
		<div class="card-tag-info">
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
			<a href="">#태그</a>
		</div>
		<div class="card-detail-page">
			<a href="">more</a>
		</div>
	</div>
</div>
<div class="next">
	<a href="/scroll">Next content</a>			
</div>